@font-face {
  font-family: 'knockout-select-icomoon';
  src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg6SA20AAAC8AAAAYGNtYXDmwZlXAAABHAAAAGxnYXNwAAAAEAAAAYgAAAAIZ2x5Zjsjvh4AAAGQAAAD9GhlYWQDiHBeAAAFhAAAADZoaGVhB3oDzgAABbwAAAAkaG10eCYABzoAAAXgAAAANGxvY2EFagaIAAAGFAAAABxtYXhwAA8ALwAABjAAAAAgbmFtZVcYpu4AAAZQAAABRXBvc3QAAwAAAAAHmAAAACAAAwQAAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmQwPA/8D/wAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEAFgAAAASABAAAwACAAEAIOYh5jfmPOZA5kP//f//AAAAAAAg5iHmNuY75j/mQv/9//8AAf/jGeMZzxnMGcoZyQADAAEAAAAAAAAAAAAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAKsAZgNUAzEAKwAAJSImJy4BLwEuATc+ATc+ARceAR8BAT4BNzYWFx4BFxYGBwEOAQcOAQcwIjEBqQgRBggMBrYKBgEDDQ0KHQ0OGAp3ATAHGAwOHA0MEQIEBQf+mQMOBgkPCgJmBAQDCwfxDBwNDhgJCQcCAg4MngHlDRADAwQICBcNDRwN/cIHDQQEBQEAAAAAAQBIAOEDuAK4ACIAABMuASMiBgcOARUUFhcBHgEzMjY3AT4BNTQmJy4BIyIGBwkBhAUNBwcNBQUFBQUBlQUNBwcNBQGVBQUFBQUNBwcNBf6E/oQCrgUFBQUFDQcGDQb+cAYFBQYBkAYMBwcNBQUFBQX+kgFuAAAAAQBIAOEDuAK4ACIAACUeATcWNjc+ATU0JicBLgEHJgYHAQ4BFRQWFx4BNxY2NwkBA3wFDQcHDQUFBQUF/msFDQcHDQX+awUFBQUFDQcHDQUBfAF87AUGAQEGBQYMBwYOBAGSBAYBAQYE/m4EDgYHDAYFBgEBBgUBbv6SAAEBFQFIAuwCUgAiAAABPgEzMhYXHgEVFAYPAQ4BIyImLwEuATU0Njc+ATMyFh8BNwKvBQ0HBw0FBQYGBcgFDQcHDQXIBQUFBQUNBwcNBa+vAkgFBQUFBgwHBw0FxAUFBQXEBQ0HBwwGBQUFBaGhAAABARQBSALsAlIAIgAAAQ4BIyImJy4BNTQ2PwE+ATMyFh8BHgEVFAYHDgEjIiYvAQcBUQUNBwcNBQUGBgXIBQ0HBw0FyAUGBgUFDQcHDQWvrwFSBQUFBQUNBwcMBsQFBQUFxAYNBgcNBQUFBQWhoQAAAQDXAR8DKQJ7ACwAAAEOATEOAQcOASMiJicuAScwJicuATU0Njc+ATMyFh8BNz4BMzIWFx4BFRQGBwMZEOEECQYFCwUFCwUGCQThEAgICAgJEwsKFgrIyAoWCgsTCQgICAgCFhDWBAcCAgICAgIHBNYQCBYLDBYICQkJCcDACQkJCQkVDAsWCAAAAAABANcBHwMpAnsALAAAAS4BMS4BJy4BIyIGBw4BBzAGBw4BFRQWFx4BMzI2PwEXHgEzMjY3PgE1NCYnAxkQ4QQJBgULBQULBQYJBOEQCAgICAkTCwoWCsjIChYKCxMJCAgICAGDENcEBgMCAgICAwYE1xAIFQwLFgkICQgJwMAJCAkICRYLDBUIAAAAAAEBFAEAAuwCmgACAAABIRMC7P4p6wKa/mYAAAABARQBAALsApoAAgAAASEDARQB1+sBAAGaAAAAAQAAAAAAAMIY+n5fDzz1AAsEAAAAAADQWZYYAAAAANBZlhgAAAAAA7gDMQAAAAgAAgAAAAAAAAABAAADwP/AAAAEAAAAAAADuAABAAAAAAAAAAAAAAAAAAAADQAAAAAAAAAAAAAAAAIAAAAEAACrBAAASAQAAEgEAAEVBAABFAQAANcEAADXBAABFAQAARQAAAAAAAoAFAAeAGgApADiARoBUgGYAd4B7AH6AAEAAAANAC0AAQAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAOAAAAAQAAAAAAAgAOAEcAAQAAAAAAAwAOACQAAQAAAAAABAAOAFUAAQAAAAAABQAWAA4AAQAAAAAABgAHADIAAQAAAAAACgA0AGMAAwABBAkAAQAOAAAAAwABBAkAAgAOAEcAAwABBAkAAwAOACQAAwABBAkABAAOAFUAAwABBAkABQAWAA4AAwABBAkABgAOADkAAwABBAkACgA0AGMAaQBjAG8AbQBvAG8AbgBWAGUAcgBzAGkAbwBuACAAMAAuADAAaQBjAG8AbQBvAG8Abmljb21vb24AaQBjAG8AbQBvAG8AbgBSAGUAZwB1AGwAYQByAGkAYwBvAG0AbwBvAG4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=) format('truetype'), url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAgEAAsAAAAAB7gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDpIDbWNtYXAAAAFoAAAAbAAAAGzmwZlXZ2FzcAAAAdQAAAAIAAAACAAAABBnbHlmAAAB3AAAA/QAAAP0OyO+HmhlYWQAAAXQAAAANgAAADYDiHBeaGhlYQAABggAAAAkAAAAJAd6A85obXR4AAAGLAAAADQAAAA0JgAHOmxvY2EAAAZgAAAAHAAAABwFagaIbWF4cAAABnwAAAAgAAAAIAAPAC9uYW1lAAAGnAAAAUUAAAFFVxim7nBvc3QAAAfkAAAAIAAAACAAAwAAAAMEAAGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA5kMDwP/A/8ADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABABYAAAAEgAQAAMAAgABACDmIeY35jzmQOZD//3//wAAAAAAIOYh5jbmO+Y/5kL//f//AAH/4xnjGc8ZzBnKGckAAwABAAAAAAAAAAAAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQCrAGYDVAMxACsAACUiJicuAS8BLgE3PgE3PgEXHgEfAQE+ATc2FhceARcWBgcBDgEHDgEHMCIxAakIEQYIDAa2CgYBAw0NCh0NDhgKdwEwBxgMDhwNDBECBAUH/pkDDgYJDwoCZgQEAwsH8QwcDQ4YCQkHAgIODJ4B5Q0QAwMECAgXDQ0cDf3CBw0EBAUBAAAAAAEASADhA7gCuAAiAAATLgEjIgYHDgEVFBYXAR4BMzI2NwE+ATU0JicuASMiBgcJAYQFDQcHDQUFBQUFAZUFDQcHDQUBlQUFBQUFDQcHDQX+hP6EAq4FBQUFBQ0HBg0G/nAGBQUGAZAGDAcHDQUFBQUF/pIBbgAAAAEASADhA7gCuAAiAAAlHgE3FjY3PgE1NCYnAS4BByYGBwEOARUUFhceATcWNjcJAQN8BQ0HBw0FBQUFBf5rBQ0HBw0F/msFBQUFBQ0HBw0FAXwBfOwFBgEBBgUGDAcGDgQBkgQGAQEGBP5uBA4GBwwGBQYBAQYFAW7+kgABARUBSALsAlIAIgAAAT4BMzIWFx4BFRQGDwEOASMiJi8BLgE1NDY3PgEzMhYfATcCrwUNBwcNBQUGBgXIBQ0HBw0FyAUFBQUFDQcHDQWvrwJIBQUFBQYMBwcNBcQFBQUFxAUNBwcMBgUFBQWhoQAAAQEUAUgC7AJSACIAAAEOASMiJicuATU0Nj8BPgEzMhYfAR4BFRQGBw4BIyImLwEHAVEFDQcHDQUFBgYFyAUNBwcNBcgFBgYFBQ0HBw0Fr68BUgUFBQUFDQcHDAbEBQUFBcQGDQYHDQUFBQUFoaEAAAEA1wEfAykCewAsAAABDgExDgEHDgEjIiYnLgEnMCYnLgE1NDY3PgEzMhYfATc+ATMyFhceARUUBgcDGRDhBAkGBQsFBQsFBgkE4RAICAgICRMLChYKyMgKFgoLEwkICAgIAhYQ1gQHAgICAgICBwTWEAgWCwwWCAkJCQnAwAkJCQkJFQwLFggAAAAAAQDXAR8DKQJ7ACwAAAEuATEuAScuASMiBgcOAQcwBgcOARUUFhceATMyNj8BFx4BMzI2Nz4BNTQmJwMZEOEECQYFCwUFCwUGCQThEAgICAgJEwsKFgrIyAoWCgsTCQgICAgBgxDXBAYDAgICAgMGBNcQCBUMCxYJCAkICcDACQgJCAkWCwwVCAAAAAABARQBAALsApoAAgAAASETAuz+KesCmv5mAAAAAQEUAQAC7AKaAAIAAAEhAwEUAdfrAQABmgAAAAEAAAAAAADCGPp+Xw889QALBAAAAAAA0FmWGAAAAADQWZYYAAAAAAO4AzEAAAAIAAIAAAAAAAAAAQAAA8D/wAAABAAAAAAAA7gAAQAAAAAAAAAAAAAAAAAAAA0AAAAAAAAAAAAAAAACAAAABAAAqwQAAEgEAABIBAABFQQAARQEAADXBAAA1wQAARQEAAEUAAAAAAAKABQAHgBoAKQA4gEaAVIBmAHeAewB+gABAAAADQAtAAEAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADgAAAAEAAAAAAAIADgBHAAEAAAAAAAMADgAkAAEAAAAAAAQADgBVAAEAAAAAAAUAFgAOAAEAAAAAAAYABwAyAAEAAAAAAAoANABjAAMAAQQJAAEADgAAAAMAAQQJAAIADgBHAAMAAQQJAAMADgAkAAMAAQQJAAQADgBVAAMAAQQJAAUAFgAOAAMAAQQJAAYADgA5AAMAAQQJAAoANABjAGkAYwBvAG0AbwBvAG4AVgBlAHIAcwBpAG8AbgAgADAALgAwAGkAYwBvAG0AbwBvAG5pY29tb29uAGkAYwBvAG0AbwBvAG4AUgBlAGcAdQBsAGEAcgBpAGMAbwBtAG8AbwBuAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA) format('woff');
  font-weight: normal;
  font-style: normal;
}
.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.box-sizing-border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.icon-font {
  font-family: 'knockout-select-icomoon';
  line-height: inherit;
}
.knockout-select {
  font-size: 14px;
  width: 250px;
  height: 28px;
  color: inherit;
}
.knockout-select-button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -msjustify-content: space-between;
  justify-content: space-between;
  width: 100%;
  height: 28px;
  margin: 0;
  padding: 0 8px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #c8c8c8;
  cursor: pointer;
  text-align: left;
  font-size: inherit;
}
.knockout-select-button span:first-child {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  text-overflow: ellipsis;
  display: inline-block;
  overflow-x: hidden;
  word-wrap: normal;
  white-space: nowrap;
}
.knockout-select-button span:last-child {
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}
.knockout-select-button[disabled] {
  background-color: #c8c8c8;
  cursor: default;
}
.knockout-select-button[data-open="true"] .knockout-select-arrow:before {
  float: right;
  font-family: 'knockout-select-icomoon';
  line-height: inherit;
  content: "\e637";
}
.knockout-select-button[data-open="false"] .knockout-select-arrow:before {
  float: right;
  font-family: 'knockout-select-icomoon';
  line-height: inherit;
  content: "\e636";
}
.knockout-select-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 28px;
  margin: 0;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #c8c8c8;
}
.knockout-select-container .knockout-select-row {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  overflow: hidden;
  cursor: default;
  padding: 2px 4px;
  background-color: white;
}
.knockout-select-container .knockout-select-row.knockout-select-row-selected {
  background-color: #0088d3;
  color: white;
}
.knockout-select-container .knockout-select-row.knockout-select-row-active {
  background-color: #0088d3;
  color: white;
  outline: 1px solid #c8c8c8;
}
.knockout-select-container .knockout-select-row:before {
  font-family: 'knockout-select-icomoon';
  line-height: inherit;
  display: inline-block;
  padding-right: 4px;
  font-size: 12px;
  width: 12px;
  height: inherit;
}
.knockout-select-container .knockout-select-row[data-selected="true"]:before {
  content: "\e621";
}
.knockout-select-container .knockout-select-row[data-selected="false"]:before {
  content: "";
}
